
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
   <!-- <div id="preloader"></div>-->
    <!-- Preloader End Here -->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Header Area Start Here -->
        <header class="header-one">
            <div id="header-main-menu" class="header-main-menu header-sticky">
                <div class="container">                    
                    <div class="row">
                        <div class="col-lg-8 col-md-3 col-sm-4 col-4 possition-static">
                            <div class="site-logo-mobile">
                                <a href="index.html" class="sticky-logo-light"><img src="/img/skulvibesd.png" alt="Site Logo"></a>
                                <a href="index.html" class="sticky-logo-dark"><img src="/img/skulvibes-dark.png" alt="Site Logo"></a>
                            </div>
                            <nav class="site-nav">
                                <ul id="site-menu" class="site-menu">
                                    <li><a href="/blog">Blogs</a>
                                        
                                    </li>
                                    <li>
                                        <a href="/category">Category</a>
                                    </li>
                                    <li>
                                        <a href="/signup">New Blogger</a>
                                    </li>
                                    
                                 
                                   
                                   
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-4 col-md-9 col-sm-8 col-8 d-flex align-items-center justify-content-end">
                            <div class="nav-action-elements-layout1">
                                <ul>
                                   
                                    <li>
                                        <button type="button" class="login-btn" data-toggle="modal" data-target="#myModal">
                                            <i class="flaticon-profile"></i>Login
                                        </button>
                                    </li>
                                    <li>
                                        <a href="/signup" class="fill-btn"><i class="flaticon-plus-1"></i>BECOME A SCHOOL BLOGGER</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mob-menu-open toggle-menu">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="nav-action-elements-layout2">
                                <ul class="nav-social">
                                    <li><img src="/img/sch1.jpeg"  class="rounded-circle"  width="70" height="70" /></li>
                                    <li><img src="/img/sch2.jpeg"  class="rounded-circle"  width="70" height="70" /></li>
                                    <li><img src="/img/sch3.jpeg"  class="rounded-circle"  width="70" height="70" /></li>
                                    <li><img src="/img/sch4.png"  class="rounded-circle"  width="60" height="60" /></li>
                                    <li><img src="/img/sch5.png"  class="rounded-circle"  width="50" height="50" /></li>
                                    <li><img src="/img/sch6.png"  class="rounded-circle"  width="50" height="50" /></li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="site-logo-desktop">
                                <a href="index.html" class="main-logo"><img src="/img/skulvibes-dark.png" alt="Site Logo"></a>
                            </div>
                        </div>
                        <div class="nav-action-elements-layout2">
                                <ul class="nav-social">
                                    <li><img src="/img/sch1.jpeg"  class="rounded-circle"  width="70" height="70" /></li>
                                    <li><img src="/img/sch2.jpeg"  class="rounded-circle"  width="70" height="70" /></li>
                                    <li><img src="/img/sch3.jpeg"  class="rounded-circle"  width="70" height="70" /></li>
                                    <li><img src="/img/sch4.png"  class="rounded-circle"  width="60" height="60" /></li>
                                    <li><img src="/img/sch5.png"  class="rounded-circle"  width="50" height="50" /></li>
                                    <li><img src="/img/sch6.png"  class="rounded-circle"  width="50" height="50" /></li>
                                    
                                    
                                </ul>
                            </div>
                       
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End Here -->
        <!-- Inne Page Banner Area Start Here -->
        <section class="inner-page-banner bg-common" data-bg-image="img/figure/inner-page-banner1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-area">
                            <h1>Blog Categories</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inne Page Banner Area End Here -->
        <!-- Category Area Start Here -->
        <section class="category-page-wrap padding-top-80 padding-bottom-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="category-box-layout1">
                            <figure class="item-figure"><a href="single-recipe1.html"><img src="img/product/read.jpeg"
                                        alt="Product"></a></figure>
                            <div class="item-content">
                                <h3 class="item-title"><a href="/category-education">Education</a></h3>
                                <span class="sub-title"> <%=countData%> Blogs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="category-box-layout1">
                            <figure class="item-figure"><a href="single-recipe1.html"><img src="img/product/spot.jpeg"
                                        alt="Product"></a></figure>
                            <div class="item-content">
                                <h3 class="item-title"><a href="/category-sports">Sports</a></h3>
                                <span class="sub-title"> <%=countdDataSports%> Blogs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="category-box-layout1">
                            <figure class="item-figure"><a href="single-recipe1.html"><img src="img/product/ent.jpeg"
                                        alt="Product"></a></figure>
                            <div class="item-content">
                                <h3 class="item-title"><a href="/category-ent">Entertainment</a></h3>
                                <span class="sub-title"> <%=countDataEnt%> Blogs</span>
                            </div>
                        </div>
                    </div>
                   
                    
                    
                    
                    
                   
                    
                </div>
            </div>
        </section>
        <!-- Category Area End Here -->
        <!-- Footer Area Start Here -->
        <footer class="ranna-bg-dark">
            <div class="container">
                <div class="footer-logo">
                    <a href="index.html"><img src="img/skulvibesd.png" class="img-fluid" alt="footer-logo"></a>
                </div>
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">FACEBOOK</a></li>
                        <li><a href="#">TWITTER</a></li>
                        <li><a href="#">INSTAGRAM</a></li>
                        <li><a href="#">PINTEREST</a></li>
                        <li><a href="#">GOOGLEPLUS</a></li>
                        <li><a href="#">YOUTUBE</a></li>
                    </ul>
                </div>
                <div class="copyright"><a target="_blank" href="https://www.templateshub.net">Skulvibes</a></div>
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Search Box Start Here -->
    <div id="search" class="search-wrap">
        <button type="button" class="close">×</button>
        <form class="search-form">
            <input type="search" value="" placeholder="Type here........" />
            <button type="submit" class="search-btn"><i class="flaticon-search"></i></button>
        </form>
    </div>
    <!-- Search Box End Here -->
    <!-- Modal Start-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="title-default-bold mb-none">Login</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="login-form">
                        <input class="main-input-box" type="text" placeholder="User Name" />
                        <input class="main-input-box" type="password" placeholder="Password" />
                        <div class="inline-box mb-5 mt-4">
                            
                           
                        </div>
                        <div class="inline-box mb-5 mt-4">
                            <button class="btn-fill" type="submit" value="Login">Login</button>
                            
                        </div>
                    </form>
                   
                   
                </div>
            </div>
        </div>
    </div>
    